* {
  margin: 0;
}
.App {
  background-color: #fafafa;
}

.app__header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  max-width: 800px;
  margin: 0 auto;
}
.app__headerImage {
  object-fit: contain;
  width: 103px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.loginContainer {
  /* padding-top: 20px; */
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.app__Posts {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loggedOutMessage {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
